@font-face {
    font-family: "Inter",sans-serif;
    font-style: "normal";
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/Inter-Regular.ttf) format("opentype");
  }
  @font-face {
    font-family: "Inter",sans-serif;
    font-style: "normal";
    font-weight: 600;
    font-display: swap;
    src: url(./assets/fonts/Inter-SemiBold.ttf) format("opentype");
  }
  @font-face {
    font-family: "Roboto",sans-serif;
    font-style: "italic";
    font-weight: 300;
    font-display: swap;
    src: url(./assets/fonts/Roboto-LightItalic.ttf) format("opentype");
  }
  @font-face {
    font-family: "Roboto",sans-serif;
    font-style: "normal";
    font-weight: 300;
    font-display: swap;
    src: url(./assets/fonts/Roboto-Thin.ttf) format("opentype");
  }
  @font-face {
    font-family: "Roboto",sans-serif;
    font-style: "normal";
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/Roboto-Regular.ttf) format("opentype");
  }
  @font-face {
    font-family: "Roboto",sans-serif;
    font-style: "normal";
    font-weight: 500;
    font-display: swap;
    src: url(./assets/fonts/Roboto-Medium.ttf) format("opentype");
  }
  @font-face {
    font-family: "Roboto",sans-serif;
    font-style: "normal";
    font-weight: 700;
    font-display: swap;
    src: url(./assets/fonts/Roboto-Bold.ttf) format("opentype");
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html{
    vertical-align: baseline;
    scroll-behavior: smooth;
    font-size: 62.5%;
  }
  svg{
    width: 20px;
    height: 20px;
  }
  a{
    color:inherit;
    text-decoration: none;
  }
  body{
    background-color: var(--white-color);
  }
 
  h1{
    font-size: 6rem;
  }
  h2{
    font-size: 3rem;
  }
  h3{
    font-size: 2.5rem;
  }
  h4{
    font-size: 2rem;
  }
  h5{
    font-size: 1.6rem;
  }
  :root{
    --orange-color:#b17a50;
    --orange-sun-color:#d88546;
    --white-color:#f2efec;
    --grey-color:#64625985;
    --black-color:#1e1e1e;
    --bigger-font-calc: 6rem;
    --large-font-calc:calc(2.5rem + 1vw);
    --medium-font-calc:calc(1.5rem + 1vw);
    --small-font: 1.2rem;
  }
  .container{
    max-width: 120rem;
    margin: 0 auto;
  }
  .picture{
    display: flex;
    position: relative;
    width: 100vw;
    background-image: linear-gradient(to top, rgba(31, 30, 27, 0.3), rgba(246, 234, 9, 0.3));
  }
  /* .picture::after{
    content: '';
    background: rgba(0,0,0,0.7);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  
  } */
  .header{
    max-width: 100%;
    background: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(57, 55, 55, 1), rgba(14, 14, 14, 0.8)),url(./assets/img/office.jpg);
  }
  .info__wrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    line-height: 133%;
    margin-top:10px;
  }
  .wrap{
    max-width: 120rem;
    /* padding: 0 3%; */
  }

   .info__container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    max-width:64rem;
    gap:  calc(0.5rem + 0.5vw);
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    color:var(--white-color);
    font-size: 1.2rem;
  }
  .phone-number{
    display: flex;
    position: relative;
    flex-direction: row;
    gap:0.5rem;
    align-items: center;
  }
  .phone-number::after{
    display: block;
    position: absolute;
    left: 50%;
    bottom:0;
    width: 0;
    height: 2px;
    bottom: -2px;
    background-color: var(--orange-color);
    content: '';
    transition: width 1s;
    transform: translateX(-50%);
  }
  .phone-number:hover::after{
    margin-bottom: 0px;
    width: 100%;
  }
  .phone-number a::before{
    content: '';
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
   }
 .phone-number_text{
  color:var( --orange-sun-color);
  padding-top: 2px;
  margin: 0px;
 }
 .email__container{
  display: flex;
  position: relative;
  flex-direction: row;
  gap:0.5rem;
  align-items: center;
 }
 
 .email__container::after{
  display: block;
  position: absolute;
  left: 50%;
  bottom:0;
  width: 0;
  height: 2px;
  bottom: -2px;
  background-color: var(--orange-color);
  content: '';
  transition: width 1s;
  transform: translateX(-50%);
  cursor: pointer;
 }
 .email__container:hover::after{
  margin-bottom: 0px;
  width: 100%;
 }
 .email__container a::before{
  content: '';
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
 }
 .email-text{
  margin: 0px;
 }
 .schedule{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap:0.5rem;
  align-items: center;
 }
 .schedule-time{
  white-space: nowrap;
  margin:0px;
  text-align: center;
 }
 .schedule-time span{
  color: #859597;
 }
 .review{
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  gap:0.5rem;
  align-items: center;
 }
 .review::after{
  display: block;
  position: absolute;
  left: 50%;
  bottom:0;
  width: 0;
  height: 2px;
  bottom: -2px;
  background-color: var(--orange-color);
  content: '';
  transition: width 1s;
  transform: translateX(-50%);
  cursor: pointer;
 }
 .review:hover::after{
  margin-bottom: 0px;
  width: 100%;
 }
 .review a::before{
  content: '';
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
 }
 .review-link{
  white-space: nowrap;
  margin: 0px;
 }
  header .wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }
 .header__view{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1.2rem 0rem 5rem 0rem;
  /* gap: 3rem; */
 }
 .burger{
  display: none;
  position: relative;
  z-index: 10;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
 }
 .burger span{
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: var(--white-color);
 }
 .burger::before, .burger::after{
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: var(--white-color);
  transition: all 0.3s ease;
 }
 .burger::before{
  top: 0;
 }
 .burger::after{
  bottom: 0;
 }
 .burger.active::before{
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
 }
 .burger.active::after{
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
 }
 .burger.active span{
  display: none;
 }
 .logo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width:250px;
  height: 75px;
  margin-right: 2rem;
 }
 .header__logo{
  display: flex;
  justify-content: start;
  align-items: center;
 
 }
 .logo-img{
  display: flex;
  position: relative;
 width: 190px;
 height: 60px;
  
 }
 .logo-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: wrap;
  font-family: "Roboto",sans-serif;
  font-weight: 700;
  font-size: 13px;
  color:var(--white-color);
  height: 60px;
  text-transform: uppercase;
  line-height: 1;
  padding: 0px;
  text-shadow: 3px 3px 3px var(--black-color),
              5px 7px 7px var(--black-color);
 }
 .logo-text span{
  font-family: "Roboto",sans-serif;
  font-weight: 800;
  font-size: 5rem;
  color:var( --orange-sun-color) ;
  text-align:start;
  text-shadow: 3px 3px 3px var(--black-color),
              9px 5px 5px var(--black-color);
  text-transform: uppercase;
  line-height: 0.8;
 }

 
 .header__nav{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 65rem;
  padding: 0px;
  margin-right: 1rem;
 }
 .navigation{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 65rem;
  padding: 0px;
 }
 .nav__list{
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: center;
  list-style-type:none;
  padding: 0px;
  height: 70px;
  width: calc(90vw/2 - 27px);
  margin: 0px;
 }
 .nav__items{
  font-family: "Roboto",sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color:var(--white-color);
  margin: 2rem;
 }
 
 .header__social{
  display: flex;
  flex-direction: row;
  gap:0.4rem;
  height: 50px;
  margin-right: 2rem;
 }
 
 
 
 .facebook{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  padding:5px ;
  background:var( --grey-color);
 }
 .facebook a{
  width: 50px;
  height: 50px;
 }
 .facebook svg{
  padding: 10px;
  width: 50px;
  height: 50px;
 }
 .facebook:hover{
  background:var(--orange-color);
  transition: 1s;
 }
 .facebook:hover svg path{
  fill:var(--white-color);
  transition: 1s;
 }
 .instagram{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  padding:5px ;
  background:var( --grey-color);
 }
 .instagram:hover{
  fill:var(--white-color);
  background:var(--orange-color);
  transition: 1s ease-out;
 }
 .instagram:hover svg path{
  stroke:var(--white-color);
  transition: 1s ease-out;
 }
 .instagram a{
  width: 60px;
  height: 50px;
 }
 .instagram svg{
  padding: 10px;
  width: 50px;
  height: 50px;
 }
 
 .google{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border-radius: 100px;
  background:var( --grey-color);
 }
 .google a{
  width: 50px;
  height: 50px;
 }
 .google svg{
  padding: 5px;
  width: 50px;
  height: 50px;
 }
 .google:hover{
  background:var(--orange-color);
  transition: 1s;
 }
 .google:hover svg path{
  stroke: var(--white-color);
  transition: 1s;
 }
 
 
 
 .header_phone-num{
  display: flex;
  position: relative;
  align-items: center;
  width: 16rem;
  height: 40px;
  border-radius: 20px;
  background-color:var(--orange-sun-color);
 }
 .header_phone-num a::before{
  display: flex;
  content: '';
  position: absolute;
  justify-content: center;
  align-items: center;
  left:0;
  top:0;
  bottom: 0;
  width: 100%;
  height: 100%;
 }
 .header__title-phone{
  white-space: nowrap;
  font-family: "Roboto",sans-serif;
  font-style: "normal";
  font-weight: 500;
  font-size: 1.5rem;
  color:var(--black-color) ;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
 }
 .header_phone-num:hover{
  background-color:var(--white-color);
  transition: 1s ease;
 }
 
 
 hr{
  width: 0.2rem;
  height: inherit;
  margin: 2rem 2rem 0rem 0rem;
 }
 
 .header__under{
  display:flex;
  max-width:100vw;
  margin-bottom: 15rem;
 }
 .header-title__box{
  display: flex;
  flex-direction: column;
  max-width: 100rem;
 }
 .header-title__holder{
  max-width: 100vw;
 }
 .header__title{
  word-wrap:unset;
  font-family: "Roboto",sans-serif;
  font-weight: 700;
  color:var(--white-color);
  max-width:100%;
  text-align:start;
  margin-bottom: 2rem;
 }
 .header-subtitle__holder{
  max-width: 80%;
 }
 .header__subtitle{
  font-family: "Roboto",sans-serif;
  font-style: normal;
  font-weight: 300;
  color:var(--white-color);
  max-width: 90vw;
  text-align: start;
  line-height: 1.1;
  margin: 0rem 0rem 4rem 0rem;
 }
 
 
 
 
 /* start section our services*/
 
 .our__services{
  margin:0rem;
  padding: 5rem 0rem;
  background-color:var(--grey-color);
 }
 .title__service{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .title__service_title{
   display: flex;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    color:var(--black-color);
    margin-top: 0rem;
    margin-bottom: calc(3rem + 1vw);
    text-align: center;
    font-size: var(--large-font-calc);
 }

 .services-view{
  display: grid;
  grid-template-columns:repeat(auto-fill, calc(30rem + 3vw));
  align-items: center;
  justify-content: center;
  gap:calc(2.5rem + 1vw);
  max-width: 120rem;
 }
.services__box{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:38rem; 
  border-radius: 50%;
}
.services_items{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content:stretch;
  gap: 2rem;
  align-items: center;
  width: calc(20rem + 10vw);
  aspect-ratio: 1 / 1;
  border-radius: 50% ;
  background: radial-gradient(circle at 35% 15%, var(--white-color), var(--orange-sun-color),var(--orange-color));  box-shadow: 5px 10px 20px rgba(0,0,0,0.3), -5px -10px 20px rgba(255,255,255,0.5),12px 10px 20px rgba(0,0,0,0.3), -6px -10px 20px rgba(255, 254, 254, 0.701),5px 10px 22px rgba(0,0,0,0.3), -9px -12px 250px rgba(255,255,255,0.5);
  /* background-image: linear-gradient(to top, rgba(37, 36, 34, 0.714), rgba(244, 208, 141, 0.777)); */
}
.services_items:hover {
  background:linear-gradient(1deg, var(--orange-color), var(--white-color),var(--orange-sun-color));
  box-shadow: 10px 30px 20px rgba(0,0,0,0.3), -5px -10px 20px var(--white-color);
  color:var(--orange-sun-color);
  transition: ease 0.5s;
  cursor: pointer;
}
.services_items:active{
  background:linear-gradient(1deg, var(--grey-color), var(--white-color),var(--grey-color));
  box-shadow:
  inset -5px -5px 8px var(--white-color), 
  inset  5px 5px 5px var(--grey-color),
  30px 8.7px 24px var(--orange-sun-color),
  35.6px 10.3px 41.6px rgba(0, 0, 0, 0.475),
  100px 29px 87px rgba(0, 0, 0, 0.63);
  transition: ease 0.5s;
}
.services_items a::before{
  content: '';
  position: absolute;
  left:0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
 }


.services_pic{
  text-align: center;
  margin-top: 25%;
}

.service_picture-svg{
  max-width: calc(2rem + 3vw);
  max-height: calc(2rem + 3.6vh);
}
.services_pic img{
  border-style: groove;
  border-radius: 1px 18%;
  border-color: var(--white-color);
}

.service-item_tittle{
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  font-family: "Roboto",sans-serif;
  font-weight: bold;
  max-width: 38rem;
}
.services_text{
  font-size: var(--medium-font-calc);
  line-height: 1.15;
  margin: 0rem;
  padding: 0rem 2.2rem;
}

/* .sub-plus{
  background-color:var(--orange-sun-color);
  color: #444;
  cursor: pointer;
  max-width: calc(18rem + 1vw);
  border: none;
  text-align: right;
  outline: none;
  font-size: 0px;
  transition: 0.4s;
  margin: 0px;

} */
/* .sub-plus_box{
  position: relative;
	overflow: hidden;
	margin:  0px;
	transition: 0.3s ease;
  background-color: var(--orange-sun-color);
  width: calc(20rem - 1vw);
} */
/* .accordion{
  background-color:var(--orange-sun-color);
  color: var(--orange-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
} */
/* .active, .accordion:hover {
  background-color: var(--orange-sun-color);
} */

/* .accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 0px auto;
} */
/* .active:after {
  content: "\2212";
} */
/* .plus-svg{
  width: 2rem;
} */



/* .service_sub-title{
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
  max-width: 38rem;
  height: 4rem;
  color: #554949;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} */
/* .service_sub-title h4{
  font-size: calc(1rem + 0.5vw);
} */
/* .services_sub-text{
 max-width: 200px;
 font-family: "Roboto",sans-serif;
 font-weight: 300;
 font-size: 1.4rem;
 text-align: center;
 max-width: 38rem;
 height: 4rem;
 margin: 0px;
} */

/* 
.active, .accordion:hover {
  background-color: var(--grey-color);
} */

/* .sub-plus_display {
  display: none;
  width: fit-content;
  height: fit-content;
  padding: 0px 18px;
  background-color: var(--grey-color);
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} */
/* .sub-plus_display .active{
  display: none;
} */
/* .services_link{
  font-family: "Roboto",sans-serif;
  font-size: 1.8rem;
  color: #103d62;
  text-align: center;
  margin: 2.3rem;

} */
/* .link-text_services{
  margin-top: 5rem;
} */
/* .link-text_services p{
  font-family: "Roboto",sans-serif;
  font-weight: 2.5rem;

} */
  /* end section our services*/
  
  
  
  
  /* start section contact-us*/
  .contact_us{
    padding: 5rem 0rem;
  }
  .contact_us-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(90deg, var(--orange-color), var(--white-color));
    border-radius: 30px;
  }
  .contact-title{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-text{
    font-family: "Roboto",sans-serif; 
    font-size: var(--large-font-calc);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: calc(3rem - 1vw);
   }
   .contact_form-box{
    display: flex;
    /* justify-content: space-between; */
    max-width: 80rem;
    flex: 2;
   }
  .contact-form{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* flex: 1; */
    margin: 0 auto;
    padding: 0rem 1.5rem;
  }
  
  .form-button{
    display: flex;
    width: 100%;
    max-width:calc(26rem + 14vw) ;
    border: var(--grey-color);
    background: radial-gradient( #f9f1ea,#b19f8d,#1212128e);
    box-shadow: 5px 10px 20px rgba(0,0,0,0.3), -5px -10px 20px rgba(255,255,255,0.5);
    border-radius: 40px;
    padding:1rem 0px;
  }
  .form-button:hover{
    background:linear-gradient(90deg, var(--grey-color), var(--white-color));
    /* box-shadow: 10px 30px 20px rgba(0,0,0,0.3), -5px -10px 20px var(--white-color); */
    color:var(--black-color);
    transition: ease 0.5s;
   }
   .form-button:active{
    background:linear-gradient(1deg, var(--grey-color), var(--white-color),var(--grey-color));
    box-shadow:
    inset -5px -5px 8px var(--white-color), 
    inset  5px 5px 5px var(--grey-color),
    30px 8.7px 24px var(--orange-sun-color),
    35.6px 10.3px 41.6px rgba(0, 0, 0, 0.475),
    100px 29px 87px rgba(0, 0, 0, 0.63);
    transition: ease 0.5s;
   }
  .form-button a::before{
    display: flex;
    content: '';
    position: absolute;
    justify-content: center;
    align-items: center;
    left:0;
    top:0;
    bottom: 0;
    max-width: 100%;
    height: 100%;
   }
  
  .form-link{
    display: flex;
    font-family: "Roboto",sans-serif; 
    font-size: var(--medium-font-calc);
    margin: 0 auto;
    width: inherit;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
 }
.images-contact{
    display: flex;
    justify-content: end;
    flex: 1;
}
.contact-img{
    width:40rem;
    border-radius: 0px 30px 30px 0px;
   
}
  
    /* end section contact-us*/
/*start footer*/
.footer{
  background: linear-gradient(to right, rgba(57, 55, 55, 1), rgba(14, 14, 14, 0.8)) ;
}
.upper-footer{
  display: flex;
  flex-wrap: nowrap;
  padding-top:2rem;
  justify-content: space-between;
}
.down-logo{
  margin-top: 2rem;
  margin-right: 1rem;
}
.inform-footer{
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 70%;
  gap: 10rem;
  padding-right: 2rem;
}
.contact-footer{
  display: flex;
  flex-direction: column;
}
.contact-footer__details{
  display: inline;
  /* margin: 2rem 1rem 1rem 1rem; */
}
.contact__details-text{
  font-family: "Roboto",sans-serif; 
  font-size: 2rem;
  color: var(--white-color);
  margin: 2rem 0rem 1rem;
}
.footer-info{
 
  font-family: "Roboto",sans-serif; 
  color: var(--white-color);
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  padding: 0px;
}

.footer-info p{
  font-family: "Roboto",sans-serif; 
  color: var(--white-color);
}

.contact-address{
  display: flex;
  position: relative;
  flex-direction: row;
  white-space: nowrap;
  gap:0.5rem;
  align-items: center;
}
.contact-address::after{
  display: block;
  position: absolute;
  left: 50%;
  bottom:0;
  width: 0;
  height: 2px;
  bottom: 10px;
  background-color: var(--orange-color);
  content: '';
  transition: width 1s;
  transform: translateX(-50%);
}
.contact-address:hover::after{
  margin-bottom: 0px;
  width: 100%;
}
.contact-address a::before{
  content: '';
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
 }
 
.address-text{
  font-family: "Roboto",sans-serif;
  color: var(--white-color);
  font-size: 1.6rem;
}
.phone-number.footer-info::after,.email__container.footer-info::after{
  bottom: -4px;
}
.social-footer__text{
  font-family: "Roboto",sans-serif;
  color: var(--white-color);
  font-size: 2rem;
  margin:2rem 0rem 1rem;
  padding: 0px;
}
.social-footer__container{
  display: flex;
  gap:1rem
}

.social-footer .facebook,.social-footer .instagram,.social-footer .google{
  width:40px;
  height: 40px;
  margin-bottom: 1rem;
}
.down-footer{
  padding-bottom: 1rem;
}
.down-footer hr{
  width: 100%;
}
.rights-img{
  font-family: "Roboto",sans-serif;
  color: var(--white-color);
  font-size: var(--small-font);
  margin-bottom: 0px;
}
/*end footer*/

    
    /*media */
    @media screen and (max-width:1070px ){
      .info__container{
        font-size: 1rem;
      }
      /* .header__title{
        font-size: 4.5rem;
      }
      .header__subtitle{
        font-size: 2.7rem;
      } */
      /* .header__nav{
        display: none;
      } */
    }
    @media screen and (max-width:767px ){
      .form-link{
        display: flex;
    font-family: "Roboto",sans-serif; 
    /* font-size: var(--small-font); */
      }
      .contact_form-box{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        margin: 5rem 0rem;
      }
      .contact_us-box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background: radial-gradient(at left, var(--white-color)-55%, var(--orange-color)92%);
      }
      .form-button:hover{
        background-color:var(--white-color);
        box-shadow: 10px 30px 20px rgba(0,0,0,0.3), -5px -10px 20px var(--white-color);
        transition: 1s ease;
        transform: 1s ease out;
       }
       .form-button:active{
        box-shadow:
        inset -5px -5px 8px var(--white-color), 
        inset  5px 5px 5px var(--grey-color),
        30px 8.7px 24px var(--orange-sun-color),
        35.6px 10.3px 41.6px rgba(0, 0, 0, 0.475),
        100px 29px 87px rgba(0, 0, 0, 0.63);
        transition: ease 0.5s;
       }
      .images-contact{
        display: flex;
        justify-content: center;
        flex: 1;
    }
      .contact-img{
        max-width:calc(26rem + 14vw) ;
        border-radius: 10px 10px 0px 0px;
       width: inherit;
    }
    }